// Миксин для шрифтов
// Нельзя менять порядок подключения
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "fonts";
@import "_nullstyle.scss";

body {
    font-family: GothamPro;
    background: #e5e5e5;
    color: #333333;
    &.lock {
        @media (max-width: 922px) {
            overflow: hidden;
        }
    }
}

// !! HEADER !!

.header {
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 2% 0 2%;
        margin-bottom: 2%;
    }

    &__burger {
        display: none;
        @media (max-width: 922px) {
            display: block;
            position: fixed;
            width: 30px;
            height: 20px;
            z-index: 1003;
            flex: 0 0 30px;
        }
        &::before {
            content: "";
            top: 0;
            background-color: #87b645;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        &::after {
            content: "";
            bottom: 0;
            background-color: #87b645;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }
        & span {
            position: absolute;
            background-color: #87b645;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
        &.active::before {
            transform: rotate(45deg);
            background-color: #2b69dd;
            top: 9px;
        }
        &.active:after {
            transform: rotate(-45deg);
            background-color: #2b69dd;
            bottom: 9px;
        }
        &.active span {
            transform: scale(0);
        }
    }

    &__logo {
        @media (max-width: 992px) {
            margin: 0 auto;
        }
        @media (max-width: 425px) {
            margin-left: 28px;
        }
        @media (max-width: 380px) {
            flex: 0 0 120px;
        }
        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__menu {
        margin-left: 2%;
        padding-right: 0.5%;
        @media (max-width: 922px) {
            position: fixed;
            background-color: #e5e5e5;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            padding-top: 80px;
            transition: all 0.3s;
            overflow: auto;
            z-index: 1000;
            margin: 0;
        }
        &.active {
            top: 0;
        }
    }

    &__list {
        display: flex;
        @media (max-width: 922px) {
            flex-direction: column;
        }
        & li {
            @media (max-width: 922px) {
                margin: 0 auto 40px;
                &:last-child {
                    margin: 0 auto 0;
                }
            }
            margin-right: 80px;
            @media (max-width: 1100px) {
                margin-right: 35px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        font-size: 24px;
        color: #333333;
        white-space: nowrap;
        transition: all 0.3s;
        @media (max-width: 922px) {
            font-size: 40px;
        }
    }

    &__btn {
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        background: #87b645;
        border-radius: 4px;
        max-width: 180px;
        min-width: 130px;
        width: 100%;
        height: 50px;
        color: #ffffff;
        transition: all 0.4s;
    }
}

// BUTTON ANIMATION

.btn {
    transition: all 0.3s;
    &:hover {
        background: #fbac00;
    }
    &:active {
        background: #2b69dd;
        transform: translate(2px, 2px);
    }
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

// LINK ANIMATION

.hover-link {
    &:hover {
        color: #2b69dd;
        border-bottom: 3px solid #fbac00;
        border-radius: 2px;
    }
    &:active {
        color: #75acfe;
        border-bottom: none;
    }
    @media (max-width: 922px) {
        color: #2b69dd;
        border-bottom: 3px solid #fbac00;
        border-radius: 2px;
    }
}

.wrapper {
}
.main {
}
.intro {
    position: relative;
    padding: 7% 0 5%;
    margin-bottom: 3%;
    @media (max-width: 767px) {
        margin-bottom: 50px;
    }
    &__icons {
        position: absolute;
        z-index: -1;
        &_b {
            & img {
                width: 94px;
                height: 94px;
            }
            top: 5%;
            right: 20%;
        }

        &_eth {
            & img {
                width: 48px;
                height: 48px;
            }
            top: 12%;
            left: 12%;
        }

        &_fct {
            & img {
                width: 50px;
                height: 50px;
            }
            bottom: 35%;
            left: 22%;
        }

        &_ripp {
            & img {
                width: 64px;
                height: 64px;
            }
            bottom: 22%;
            right: 18%;
            @media (max-width: 922px) {
                bottom: 30%;
            }
        }
    }

    &__title {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 840px;
        text-align: center;
    }

    &__heading {
        font-weight: bold;
        font-size: 60px;
        line-height: 130%;
        letter-spacing: 2px;
        margin-bottom: 5%;
        @media (max-width: 922px) {
            font-size: 40px;
            line-height: 100%;
        }
    }

    &__text {
        font-size: 24px;
        margin-bottom: 6%;
        @media (max-width: 545px) {
            margin-bottom: 80px;
        }
    }

    &__btns {
        display: flex;
        @media (max-width: 545px) {
            flex-direction: column;
        }
        & a {
            font-weight: 500;
            font-size: 18px;
            line-height: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__link {
        &_l {
            color: #ffffff;
            background: #87b645;
            border-radius: 4px;
            width: 250px;
            height: 46px;
            margin-right: 40px;
            @media (max-width: 545px) {
                margin: 0;
            }
        }

        &_r {
            border: 1px solid #a0c4fa;
            border-radius: 4px;
            color: #333333;
            height: 46px;
            width: 220px;
            @media (max-width: 545px) {
                margin-top: 20px;
                width: 250px;
            }
        }
    }
    &__path-b,
    &__path-r {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: -2;
    }
    &__path-b {
        bottom: 2%;
    }

    &__path-r {
        bottom: -19%;
    }
}
.laptop {
    position: relative;
    height: 100vh;
    margin-bottom: 5%;
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
    &_bg {
        position: absolute;
        left: 0;
        width: 80%;
        bottom: 0;
        height: 100%;
        @media (max-width: 767px) {
            width: 100%;
            left: 50%;
            height: 65%;
            transform: translateX(-50%);
            bottom: 7%;
        }
    }

    &__figure {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 70%;
        @media (max-width: 767px) {
            width: 100%;
            height: 50%;
            z-index: -1;
        }
    }

    &__label {
        position: absolute;
        max-width: 500px;
        top: 6%;
        right: 12%;
        left: 60%;
        @media (max-width: 767px) {
            left: 10%;
            right: 0;
        }
    }

    &__heading {
        font-weight: bold;
        font-size: 48px;
        color: #1baad1;
        margin-bottom: 3%;
        @media (max-width: 1024px) {
            font-size: 38px;
        }
    }

    &__text {
        font-size: 30px;
        line-height: 140%;
        @media (max-width: 1300px) {
            font-size: 18px;
        }
        @media (max-width: 1024px) {
            font-size: 14px;
        }
    }
}
.cards {
    margin-bottom: 5%;
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
    &__row {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        & span {
            align-self: center;
            @media (max-width: 922px) {
                display: none;
            }
        }
    }

    &__item {
        flex: 0 1 29%;
        text-align: center;
        background: #ffffff;
        border: 1px solid #d7d7d7;
        box-sizing: border-box;
        border-radius: 24px;
        padding: 2% 1%;
        box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.5s;
        &:hover {
            transform: translateY(-2%);
        }
        @media (max-width: 767px) {
            margin-bottom: 5%;
        }
    }

    &__icon {
        display: block;
        margin-bottom: 5%;
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 5%;
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 2%;
    }
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.description {
    position: relative;
    margin-bottom: 5%;
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
    &__title {
        margin-bottom: 5%;
    }

    &__row {
        display: flex;
        align-items: stretch;
        justify-content: center;
        @media (max-width: 767px) {
            display: block;
        }
    }

    &__column {
        flex: 0 1 550px;

        &_red {
            margin-right: 2%;
            & li {
                border-left: 5px solid #eb5757;
            }
        }

        &_green {
            & li {
                border-left: 5px solid #87b645;
            }
        }
        & li {
            min-height: 112px;
            display: flex;
            align-items: center;
            &:nth-child(3),
            &:nth-child(5),
            &:last-child {
                min-height: 172px;
            }
        }
    }

    &__item {
        max-width: 550px;
        width: 100%;
        @media (max-width: 767px) {
            margin: 0 auto;
            cursor: pointer;
        }
    }

    &__item-heading {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 36px;
        line-height: 130%;
        border-radius: 12px;
        background: #ececec;
        padding: 4% 6%;
        margin-bottom: 5%;
        position: relative;
        z-index: 3;
        & img {
            width: 88px;
            height: 88px;
            margin-right: 15px;
        }
        & i {
            position: absolute;
            left: 79%;
            right: -5%;
            z-index: -1;
            & svg {
                width: 80%;
                height: 70%;
            }
        }
        &_r {
            border-top: 18px solid #eb5757;
        }
        &_g {
            border-top: 18px solid #87b645;
        }
    }
    &__i-h-bg {
        position: absolute;
        right: -15px;
        top: 15px;
        z-index: -1;
    }

    &__list {
        font-size: 18px;
        line-height: 140%;
        transition: all 0.2s;
        & li:nth-child(2n-3) {
            background: #ececec;
        }
        & li {
            border-radius: 4px 8px 8px 4px;
            padding: 4%;
            max-width: 520px;
            width: 100%;
            margin: 0 auto 4%;
        }
        @media (max-width: 767px) {
            height: 0;
            visibility: hidden;
            opacity: 0;
            &.active {
                height: auto;
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__bg,
    source {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 30%;
        height: 50%;
    }
}
.title {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    @media (max-width: 767px) {
        font-size: 38px;
        margin-bottom: 40px;
    }
}
.calc {
    margin-bottom: 5%;
    @media (max-width: 767px) {
        margin-bottom: 8%;
    }
    &__heading {
        margin-bottom: 5%;
    }

    &__row {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        margin-bottom: 5%;
        @media (max-width: 767px) {
            flex-direction: column;
            padding: 0 2%;
        }
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex: 0 1 28%;
        & input[type="number"] {
            padding: 10px 20px;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            height: 60px;
            margin-bottom: 2em;
            background: #ffffff;
            border: 1px solid #d7d7d7;
            box-sizing: border-box;
            border-radius: 8px;
        }
        & input[type="range"] {
            appearance: none;
            background-color: #fbac00;
            width: 100%;
            height: 2px;
            margin-bottom: 1em;
            &::-webkit-slider-thumb {
                appearance: none;
                background: #87b645;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px solid #fbac00;
            }
            &::-moz-range-thumb {
                background: #87b645;
                width: 24px;
                height: 24px;
                border-radius: 50%;
                border: 1px solid #fbac00;
            }
        }
        & label {
            font-size: 18px;
            line-height: 140%;
            margin-bottom: 7px;
        }
        & span {
            font-size: 18px;
            margin-bottom: 3.3%;
        }
        &:last-child {
            position: relative;
        }
        @media (max-width: 767px) {
            margin-bottom: 20px;
        }
    }

    &__slider-value {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & span {
            color: #a1a1a3;
            font-size: 14px;
            line-height: 100%;
        }
    }

    &__spoiler {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #ffffff;
        border: 1px solid #d7d7d7;
        border-radius: 8px;
        padding: 2%;
        cursor: pointer;
        height: 60px;
        & p {
            font-weight: 500;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        & i {
            margin-right: 10px;
        }
        & span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            transition: all 0.4s;
        }
        &.active {
            & span {
                transform: rotate(90deg);
            }
        }
    }

    &__variants {
        position: absolute;
        max-width: 400px;
        width: 100%;
        background: #ffffff;
        border: 1px solid #d7d7d7;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 4% 0.5%;
        top: 90px;
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s;
        &.is-active {
            height: auto;
            visibility: visible;
            opacity: 1;
        }
        @media (max-width: 767px) {
            max-width: 100%;
        }
    }

    &__var {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 1%;
        margin-bottom: 2%;
        cursor: pointer;
        height: 50px;
        &:hover {
            background-color: #fbac00;
            & span {
                display: flex;
            }
        }
        & span {
            margin-right: 10px;
            display: none;
        }
        & p {
            display: flex;
            align-items: center;
            margin-left: 10px;
            font-size: 18px;
            font-weight: 500;
            & i {
                margin-right: 10px;
            }
        }
        &_btcoin {
            & p {
                margin-left: 5px;
                & i {
                    margin-right: 5px;
                }
            }
        }

        &_litecoin {
        }

        &_ripple {
        }

        &_etherium {
            margin: 0;
        }
        &.active {
            background-color: #fbac00;
            & span {
                display: flex;
            }
        }
    }

    &__var-box {
        display: flex;
        align-items: center;
    }

    &__result {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        & p {
            font-weight: 500;
            font-size: 48px;
            @media (max-width: 767px) {
                font-size: 38px;
            }
            @media (max-width: 530px) {
                font-size: 26px;
            }
        }
        & small {
            color: #000;
            font-size: 30px;
            font-weight: 500;
            margin-left: 10px;
            @media (max-width: 767px) {
                font-size: 20px;
                margin-left: 5px;
            }
            @media (max-width: 530px) {
                font-size: 18px;
            }
        }
        & span {
            font-size: 18px;
            line-height: 140%;
        }
        @media (max-width: 1220px) {
            flex-wrap: wrap;
            align-items: center;
            text-align: center;
        }
        @media (max-width: 424px) {
            flex-direction: column;
        }
    }

    &__result-item {
        @media (max-width: 1220px) {
            flex: 0 1 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
            white-space: nowrap;
        }
    }

    &__rub {
    }
    &__rub-num {
    }

    &__currency {
        & p {
            padding: 3.5px 0;
            margin-bottom: 0.5em;
        }
    }

    &__service {
        & p {
            color: #fbac00;
        }
    }
    &__service-num {
    }

    &__curr-result {
        & p {
            color: #fbac00;
        }
    }
    &__curr-num {
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        font-weight: 500;
        font-size: 18px;
        background: #87b645;
        border-radius: 4px;
        max-width: 268px;
        min-width: 130px;
        width: 100%;
        height: 50px;
        color: #ffffff;
        transition: all 0.4s;
        @media (max-width: 1024px) {
            flex: 0 1 100%;
        }
        @media (max-width: 424px) {
            flex: auto;
        }
    }
}
.output {
    display: flex;
    align-items: flex-end;
    margin-bottom: 2.2em;
    @media (max-width: 767px) {
        margin-bottom: 1em;
    }
}

.guarantee {
    position: relative;
    margin-bottom: 5%;
    @media (max-width: 767px) {
        margin-bottom: 50px;
    }
    &__heading {
        margin-bottom: 5%;
    }

    &__row {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5%;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__card {
        flex: 0 1 28%;
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 20px rgba(165, 165, 165, 0.25);
        border-radius: 8px;
        padding: 2% 1%;
        background: #f8db73;
        @media (max-width: 767px) {
            margin-bottom: 5%;
        }
        & a {
            & svg {
                fill: #87b645;
                transition: all 0.4s;
                &:hover {
                    fill: #fbac00;
                }
            }
        }
        &:nth-child(2) {
            background: #a0c4fa;
        }
        &:last-child {
            background: #ffffff;
        }
    }

    &__c-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 5%;
        z-index: 2;
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 3%;
        flex: 1 1 100%;
        z-index: 2;
    }

    &__number {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &__graph {
        text-align: center;
    }

    &__graph-body {
        margin: 0 auto 5%;
        position: relative;
        padding-bottom: 30%;
        max-width: 900px;
        width: 98%;
        @media (max-width: 767px) {
            padding-bottom: 45%;
        }
        @media (max-width: 375px) {
            padding-bottom: 65%;
        }
        & img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 10px;
            box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
        }
    }

    &__alert {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1%;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        & i {
            margin-right: 10px;
        }
        & span {
            font-size: 18px;
            line-height: 140%;
            margin-right: 5px;
        }
        & a {
            font-size: 18px;
            line-height: 140%;
            text-decoration: underline;
            color: #75acfe;
            @media (max-width: 375px) {
                font-size: 15px;
            }
        }
    }

    &__bg,
    source {
        position: absolute;
        width: 35%;
        height: 50%;
        top: -15%;
        right: 26%;
        z-index: -1;
    }
}
.faq {
    position: relative;
    margin-bottom: 7%;
    @media (max-width: 767px) {
        margin-bottom: 18%;
    }
    &__heading {
        margin-bottom: 5%;
    }

    &__row {
        display: flex;
        align-items: stretch;
        justify-content: center;
        padding: 0 1%;
        @media (max-width: 767px) {
            flex-direction: column;
        }
    }

    &__spoilers {
        flex: 0 1 850px;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }

    &__spoiler {
        display: flex;
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
        background: #87b645;
        border-radius: 10px;
        padding: 5% 3%;
        align-items: center;
        justify-content: space-between;
        transition: all 0.7s;
        margin-bottom: 4%;
        cursor: pointer;
        & i {
            padding-left: 20px;
            & svg {
                transition: all 0.7s;
                stroke: #2b69dd;
            }
        }
        &.active {
            background: #f8db73;
            & i {
                & svg {
                    transform: rotate(90deg);
                    stroke: #1baad1;
                }
            }
        }
        @media (max-width: 767px) {
            font-size: 22px;
            line-height: 110%;
        }
        @media (max-width: 425px) {
            font-size: 20px;
            line-height: 100%;
        }
    }

    &__text {
        display: flex;
        font-size: 18px;
        line-height: 140%;
        height: 0;
        visibility: hidden;
        transition: all 0.9s;
        max-width: 700px;
        width: 100%;
        padding: 3px 1.5%;
        align-self: center;
        overflow: hidden;
        &.active {
            height: auto;
            visibility: visible;
            margin-bottom: 4%;
        }
    }

    &__email {
        flex: 0 1 400px;
        @media (max-width: 767px) {
            flex: auto;
        }
    }

    &__email-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 130%;
        margin-bottom: 4%;
        @media (max-width: 425px) {
            font-size: 30px;
            line-height: 110%;
        }
    }

    &__email-text {
        font-size: 18px;
        line-height: 140%;
        & a {
            color: #2b69dd;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 30%;
        height: 85%;
    }
}
.contact {
    position: relative;
    margin-bottom: 7%;
    @media (max-width: 767px) {
        margin-bottom: 40px;
    }
    &__body {
        max-width: 930px;
        margin: 0 auto;
        text-align: center;
        padding: 0 1%;
    }

    &__heading {
        margin-bottom: 4%;
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        max-width: 600px;
        margin: 0 auto 4%;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        & input {
            background: #ffffff;
            border: 1px solid #d7d7d7;
            box-sizing: border-box;
            border-radius: 4px;
            max-width: 480px;
            height: 50px;
            padding-left: 3%;
            margin-bottom: 2%;
            width: 100%;
            color: #a1a1a3;
            font-size: 14px;
            line-height: 140%;
        }
    }

    &__lic {
        font-size: 14px;
        line-height: 140%;
        color: #f5f5f5;
        margin-bottom: 5%;
        position: relative;
        @media (max-width: 550px) {
            line-height: 100%;
            width: 300px;
            margin-top: 5%;
        }
        & a {
            color: #fbac00;
            padding-left: 2px;
            text-decoration: underline;
            text-decoration-color: #fbac00;
        }
        & input {
            appearance: none;
            width: 24px;
            height: 24px;
            background-color: transparent;
            border: none;
            position: absolute;
            left: -30px;
            top: 0;

            &:checked + .contact__check-box {
                background: url(../img/check_box.svg) center / cover no-repeat;
            }
            &:hover + .contact__check-box {
                border: 2px solid #fbac00;
                border-radius: 2px;
            }
        }
    }
    & button {
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        background: #87b645;
        border-radius: 4px;
        max-width: 268px;
        min-width: 130px;
        width: 100%;
        height: 72px;
        color: #ffffff;
        transition: all 0.4s;
    }

    &__check-box {
        position: absolute;
        height: 20px;
        width: 20px;
        background: url(../img/check.svg) center / cover no-repeat;
        margin-left: -28px;
        margin-top: 0.5px;
    }

    &__bg-b {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 110%;
        z-index: -1;
        @media (max-width: 1220px) {
            width: 60%;
        }
        @media (max-width: 992px) {
            width: 70%;
        }
        @media (max-width: 767px) {
            width: 80%;
        }
        @media (max-width: 605px) {
            width: 100%;
            height: 100%;
        }
    }

    &__bg-g {
        position: absolute;
        top: 1%;
        right: 1%;
        width: 30%;
        height: 70%;
        z-index: -2;
        left: 65%;
        @media (max-width: 1220px) {
            width: 25%;
            height: 40%;
        }
        @media (max-width: 767px) {
            width: 22%;
            height: 30%;
        }
        @media (max-width: 426px) {
            width: 27%;
            height: 30%;
        }
    }
}

// !!!!FOOTER!!!!

.footer {
    position: relative;
    &__nav {
        display: flex;
        align-items: flex-start;
        padding: 3% 1%;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__logo {
        flex: 0 1 10%;
        @media (max-width: 992px) {
            margin-bottom: 5%;
        }
    }

    &__row {
        flex: 1 1 50%;
        display: flex;
        justify-content: space-around;
        @media (max-width: 992px) {
            margin-bottom: 5%;
            flex: auto;
            width: 100%;
        }
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    }

    &__column {
        @media (max-width: 767px) {
            flex: 0 1 50%;
            text-align: center;
            margin-bottom: 9%;
        }
    }

    &__list {
        & li {
            &:first-child {
                & a {
                    font-size: 24px;
                    line-height: 130%;
                    @media (max-width: 375px) {
                        font-size: 20px;
                    }
                }
            }
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__link {
        flex: 0 1 25%;
        font-size: 18px;
        line-height: 140%;
        color: #333333;
        white-space: nowrap;
        @media (max-width: 375px) {
            font-size: 16px;
        }
    }

    &__icons {
        display: flex;
        & i {
            margin-right: 40px;
            &:last-child {
                margin: 0;
            }
        }
    }

    &__bg-b {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 30%;
        height: 100%;
    }

    &__bg-y {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30%;
        height: 100%;
        z-index: -2;
    }
}
