// Миксин для шрифтов
// Нельзя менять порядок подключения
@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
@import "fonts";
@import "_nullstyle.scss";

body {
    font-family: GothamPro;
    background: #e5e5e5;
    color: #333333;
}

// !! HEADER !!

.header {
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2% 2% 0 2%;
        margin-bottom: 2%;
    }

    &__burger {
        display: none;
    }

    &__logo {
    }

    &__menu {
        margin-left: 2%;
        padding-right: 0.5%;
        @media (max-width: 922px) {
            display: none;
        }
    }

    &__list {
        display: flex;
        & li {
            margin-right: 80px;
            @media (max-width: 1100px) {
                margin-right: 35px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        font-size: 24px;
        color: #333333;
        white-space: nowrap;
        transition: all 0.3s;
    }

    &__btn {
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        background: #87b645;
        border-radius: 4px;
        max-width: 180px;
        min-width: 130px;
        width: 100%;
        height: 50px;
        color: #ffffff;
        transition: all 0.4s;
    }
}

// BUTTON ANIMATION

.btn {
    transition: all 0.3s;
    &:hover {
        background: #fbac00;
    }
    &:active {
        background: #2b69dd;
        transform: translate(2px, 2px);
    }
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

// LINK ANIMATION

.hover-link {
    &:hover {
        color: #2b69dd;
        border-bottom: 3px solid #fbac00;
        border-radius: 2px;
    }
    &:active {
        color: #75acfe;
        border-bottom: none;
    }
}

.wrapper {
}
.main {
}
.intro {
    position: relative;
    padding: 7% 0 5%;
    margin-bottom: 3%;
    &__icons {
        position: absolute;
        z-index: -1;
        &_b {
            & img {
                width: 94px;
                height: 94px;
            }
            top: 5%;
            right: 20%;
        }

        &_eth {
            & img {
                width: 48px;
                height: 48px;
            }
            top: 12%;
            left: 12%;
        }

        &_fct {
            & img {
                width: 50px;
                height: 50px;
            }
            bottom: 35%;
            left: 22%;
        }

        &_ripp {
            & img {
                width: 64px;
                height: 64px;
            }
            bottom: 22%;
            right: 18%;
        }
    }

    &__title {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 840px;
        text-align: center;
    }

    &__heading {
        font-weight: bold;
        font-size: 60px;
        line-height: 130%;
        letter-spacing: 2px;
        margin-bottom: 5%;
    }

    &__text {
        font-size: 24px;
        margin-bottom: 6%;
    }

    &__btns {
        display: flex;
        & a {
            font-weight: 500;
            font-size: 18px;
            line-height: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__link {
        &_l {
            color: #ffffff;
            background: #87b645;
            border-radius: 4px;
            width: 250px;
            height: 46px;
            margin-right: 40px;
        }

        &_r {
            border: 1px solid #a0c4fa;
            border-radius: 4px;
            color: #333333;
            height: 46px;
            width: 220px;
        }
    }
    &__path-b,
    &__path-r {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: -2;
    }
    &__path-b {
        bottom: 2%;
    }

    &__path-r {
        bottom: -19%;
    }
}
.laptop {
    position: relative;
    height: 100vh;
    margin-bottom: 5%;
    &_bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 80%;
        height: 100%;
    }

    &__figure {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 70%;
    }

    &__label {
        position: absolute;
        max-width: 500px;
        top: 6%;
        right: 12%;
        left: 60%;
    }

    &__heading {
        font-weight: bold;
        font-size: 48px;
        line-height: 100%;
        color: #1baad1;
        margin-bottom: 3%;
    }

    &__text {
        font-size: 30px;
        line-height: 140%;
    }
}
.cards {
    margin-bottom: 5%;
    &__row {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        & i {
            align-self: center;
        }
    }

    &__item {
        flex: 0 1 29%;
        text-align: center;
        background: #ffffff;
        border: 1px solid #d7d7d7;
        box-sizing: border-box;
        border-radius: 24px;
        padding: 2% 1%;
        box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.5s;
        &:hover {
            transform: translateY(-2%);
        }
    }

    &__icon {
        display: block;
        margin-bottom: 5%;
    }
    &__title {
        font-weight: bold;
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 5%;
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 2%;
    }
}
.container {
    max-width: 1400px;
    margin: 0 auto;
}
.description {
    position: relative;
    margin-bottom: 5%;
    &__title {
        margin-bottom: 5%;
    }

    &__row {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    &__column {
        flex: 0 1 550px;
        &_red {
            margin-right: 2%;
            & li {
                border-left: 5px solid #eb5757;
            }
        }

        &_green {
            & li {
                border-left: 5px solid #87b645;
            }
        }
    }

    &__item {
        max-width: 550px;
        width: 100%;
    }

    &__item-heading {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 36px;
        line-height: 130%;
        border-radius: 12px;
        background: #ececec;
        border-top: 10px solid #eb5757;
        padding: 4% 6%;
        margin-bottom: 5%;
        & img {
            width: 88px;
            height: 88px;
            margin-right: 15px;
        }
    }

    &__list {
        font-size: 18px;
        line-height: 140%;
        & li:nth-child(2n-3) {
            background: #ececec;
        }
        & li {
            border-radius: 4px 8px 8px 4px;
            padding: 4%;
            max-width: 480px;
            width: 100%;
            margin: 0 auto 4%;
        }
    }

    &__bg,
    source {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 30%;
        height: 50%;
    }
}
.title {
    font-weight: bold;
    font-size: 48px;
    line-height: 100%;
    text-align: center;
}
.calc {
    margin-bottom: 5%;
    &__heading {
        margin-bottom: 5%;
    }

    &__row {
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        margin-bottom: 5%;
    }

    &__column {
        display: flex;
        flex-direction: column;
        flex: 0 1 28%;
        & input[type="number"] {
            padding-left: 10px;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            height: 50px;
            margin-bottom: 4%;
        }
        & input[type="range"] {
            appearance: none;
        }
        & label {
            font-size: 18px;
            line-height: 140%;
            margin-bottom: 7px;
        }
        & span {
            font-size: 18px;
            line-height: 140%;
            margin-bottom: 1%;
        }
        &:last-child {
            position: relative;
        }
    }

    &__spoiler {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #ffffff;
        border: 1px solid #d7d7d7;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 2%;
        cursor: pointer;
        & p {
            font-weight: 500;
            font-size: 18px;
            display: flex;
            align-items: center;
            justify-content: center;
            & i {
                margin-right: 10px;
            }
        }
        & span {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
    }

    &__variants {
        position: absolute;
        max-width: 400px;
        width: 100%;
        background: #ffffff;
        border: 1px solid #d7d7d7;
        box-sizing: border-box;
        border-radius: 8px;
        padding: 4% 0.5%;
        top: 90px;
        display: none;
    }

    &__var {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2%;
        cursor: pointer;
        height: 50px;
        &:hover {
            background-color: #fbac00;
            & span {
                display: flex;
            }
        }
        & span {
            margin-right: 10px;
            display: none;
        }
        & p {
            display: flex;
            align-items: center;
            margin-left: 10px;
            font-size: 18px;
            font-weight: 500;
            & i {
                margin-right: 10px;
            }
        }
        &_btcoin {
            & p {
                margin-left: 5px;
                & i {
                    margin-right: 5px;
                }
            }
        }

        &_litecoin {
        }

        &_ripple {
        }

        &_etherium {
            margin: 0;
        }
    }

    &__result {
        display: flex;
        width: 95%;
        align-items: stretch;
        justify-content: space-around;
        & p {
            font-weight: 500;
            font-size: 48px;
            line-height: 100%;
            margin-bottom: 0.5em;
            & small {
                color: #000;
                font-size: 30px;
            }
        }
        & span {
            font-size: 18px;
            line-height: 140%;
        }
    }

    &__rub {
    }

    &__currency {
        & p {
            padding-bottom: 7px;
        }
    }

    &__service {
        & p {
            color: #fbac00;
        }
    }

    &__curr-result {
        & p {
            color: #fbac00;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 17px;
        background: #87b645;
        border-radius: 4px;
        max-width: 268px;
        min-width: 130px;
        width: 100%;
        height: 50px;
        color: #ffffff;
        transition: all 0.4s;
    }
}

.guarantee {
    position: relative;
    margin-bottom: 5%;
    &__heading {
        margin-bottom: 5%;
    }

    &__row {
        display: flex;
        justify-content: space-around;
        margin-bottom: 5%;
    }

    &__card {
        flex: 0 1 28%;
        position: relative;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 4px 20px rgba(165, 165, 165, 0.25);
        border-radius: 8px;
        padding: 2% 1%;
        background: #f8db73;
        & a {
            & svg {
                fill: #87b645;
                transition: all 0.4s;
                &:hover {
                    fill: #fbac00;
                }
            }
        }
        &:nth-child(2) {
            background: #a0c4fa;
        }
        &:last-child {
            background: #ffffff;
        }
    }

    &__c-title {
        font-weight: bold;
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 5%;
        z-index: 2;
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        margin-bottom: 3%;
        flex: 1 1 100%;
        z-index: 2;
    }

    &__number {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    &__graph {
        text-align: center;
    }

    &__graph-body {
        margin: 0 auto 5%;
        position: relative;
        padding-bottom: 30%;
        max-width: 900px;
        width: 98%;
        & img {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 10px;
            box-shadow: 0 0 9px rgba(0, 0, 0, 0.4);
        }
    }

    &__alert {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1%;
        & i {
            margin-right: 10px;
        }
        & span {
            font-size: 18px;
            line-height: 140%;
            margin-right: 5px;
        }
        & a {
            font-size: 18px;
            line-height: 140%;
            text-decoration: underline;
            color: #75acfe;
        }
    }

    &__bg,
    source {
        position: absolute;
        width: 35%;
        height: 50%;
        top: -15%;
        right: 26%;
        z-index: -1;
    }
}
.faq {
    position: relative;
    margin-bottom: 7%;
    &__heading {
        margin-bottom: 5%;
    }

    &__row {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    &__spoilers {
        flex: 0 1 850px;
        padding-right: 7%;
        display: flex;
        flex-direction: column;
    }

    &__spoiler {
        display: flex;
        font-weight: bold;
        font-size: 30px;
        line-height: 120%;
        background: #87b645;
        border-radius: 10px;
        padding: 5% 3%;
        align-items: center;
        justify-content: space-between;
        transition: all 0.7s;
        margin-bottom: 4%;
        & i {
            padding-left: 20px;
            & svg {
                transition: all 0.7s;
                stroke: #2b69dd;
            }
        }
        &.active {
            background: #f8db73;
            & i {
                & svg {
                    transform: rotate(90deg);
                    stroke: #1baad1;
                }
            }
        }
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        height: 0;
        visibility: hidden;
        transition: all 0.4s linear;
        max-width: 700px;
        width: 100%;
        padding: 3px 2px;
        align-self: center;
        &.active {
            height: auto;
            visibility: visible;
            margin-bottom: 4%;
        }
    }

    &__email {
        flex: 0 1 400px;
    }

    &__email-title {
        font-weight: bold;
        font-size: 36px;
        line-height: 130%;
        margin-bottom: 4%;
    }

    &__email-text {
        font-size: 18px;
        line-height: 140%;
        & a {
            color: #2b69dd;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 30%;
        height: 85%;
    }
}
.contact {
    position: relative;
    margin-bottom: 7%;
    &__body {
        max-width: 930px;
        margin: 0 auto;
        text-align: center;
        padding: 0 1%;
    }

    &__heading {
        margin-bottom: 4%;
    }

    &__text {
        font-size: 18px;
        line-height: 140%;
        max-width: 600px;
        margin: 0 auto 4%;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        & input {
            background: #ffffff;
            border: 1px solid #d7d7d7;
            box-sizing: border-box;
            border-radius: 4px;
            max-width: 480px;
            height: 50px;
            padding-left: 3%;
            margin-bottom: 2%;
            width: 100%;
            color: #a1a1a3;
            font-size: 14px;
            line-height: 140%;
        }
    }

    &__lic {
        font-size: 14px;
        line-height: 140%;
        color: #f5f5f5;
        margin-bottom: 3%;
        position: relative;
        & a {
            color: #fbac00;
            padding-left: 2px;
            text-decoration: underline;
            text-decoration-color: #fbac00;
        }
        & input {
            appearance: none;
            width: 24px;
            height: 24px;
            background-color: transparent;
            border: none;
            position: absolute;
            left: -30px;
            top: 0;

            &:checked + .contact__check-box {
                background: url(../img/check_box.svg) center / cover no-repeat;
            }
            &:hover + .contact__check-box {
                border: 2px solid #fbac00;
                border-radius: 2px;
            }
        }
    }
    & button {
        font-weight: 500;
        font-size: 24px;
        line-height: 23px;
        background: #87b645;
        border-radius: 4px;
        max-width: 268px;
        min-width: 130px;
        width: 100%;
        height: 72px;
        color: #ffffff;
        transition: all 0.4s;
    }

    &__check-box {
        position: absolute;
        height: 20px;
        width: 20px;
        background: url(../img/check.svg) center / cover no-repeat;
        margin-left: -28px;
        margin-top: 0.5px;
    }

    &__bg-b {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 110%;
        z-index: -1;
    }

    &__bg-g {
        position: absolute;
        top: 1%;
        right: 1%;
        height: 70%;
        z-index: -2;
        left: 65%;
    }
}

// !!!!FOOTER!!!!

.footer {
    position: relative;
    &__nav {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: 3% 1%;
    }

    &__logo {
    }

    &__row {
        display: flex;
        margin-left: -10%;
    }

    &__column {
        margin-right: 10%;
        &:last-child {
            margin-right: 0;
        }
    }

    &__list {
        & li {
            &:first-child {
                & a {
                    font-size: 24px;
                    line-height: 130%;
                }
            }
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__link {
        font-size: 18px;
        line-height: 140%;
        color: #333333;
        white-space: nowrap;
    }

    &__icons {
        display: flex;
        & i {
            margin-right: 40px;
            &:last-child {
                margin: 0;
            }
        }
    }

    &__bg-b {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        width: 30%;
        height: 100%;
    }

    &__bg-y {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 30%;
        height: 100%;
        z-index: -2;
    }
}
